body {
  font-family: 'Raleway', sans-serif;
  display:grid;
  text-align: center;
  margin: 40px;

}

h1, h2 {
  font-family: 'Permanent Marker', Helvetica, sans-serif;
  font-size: 3rem;
}

.header {
  padding: 4rem;

}

.header__h1 {
  margin: auto 0;
}

.header__text {
  padding: 1rem;
  padding-left: 10rem;

  display: flex;
  background-color: hotpink;
  color: white;
  text-transform: uppercase;
  font-weight: bolder;

  list-style: none;
  text-align: center;

  transform: rotate(-3deg) skew(-3deg);
}

.header__text li{
  margin: 20px;

}

.content {
  max-height: 70vh;
  overflow: scroll;
}
